<!DOCTYPE html>

{% load staticfiles %}

<html>
	<head>
		<meta charset='UTF=8' >
		<meta name="keywords" content="олімпіади, блог, математика, підготовка до олімпіад">

		<title>Олімпіади</title>

		<link rel="stylesheet" href="{% static 'css/normalize.css' %}">
		<link rel="stylesheet" href="{% static 'css/style.css' %}">

		<link rel="icon" type="image/png" href="{% static 'images/faveicon.png' %}">
	</head>
	<body>
	


	<!--HEADER-->	
	
	<header>
		


		<!--NAVIGATION-->
		
		<nav>
			
			<div id="logo" >
				<a href="{% url 'feed.views.post_list' %}">MATH BLOG</a>	
			</div>		
				<div class="navigation-links">
					<ul>
						<div>
							<li><a href="{% url 'feed.views.post_list' %}">Стрічка</a></li> <!-- косяк -->
							<li><a href="{% url 'lessons.views.lessons' %}">УРОКИ</a></li>
							<li><a href="{% url 'dpa.views.dpa' %}">ДПА</a></li>
							<li><a href="{% url 'zno.views.zno' %}">ЗНО</a></li>	
							<li><a href="{% url 'competition.views.competition' %}" id="competition">ОЛІМПІАДИ</a></li>
							<li><a href="{% url 'educational_activities.views.educational_activities' %}">ВИХОВНА РОБОТА</a></li>
							<li><a href="{% url 'gallery.views.gallery' %}">ФОТОГАЛЕРЕЯ</a></li>
						</div>
					</ul>
				</div>

		</nav>
		
		<!--NAVIGATION-->
	

		<!--INTRO-->
		
		<div class="intro", id="intro-competition"></div>
		
		<!--INTRO-->
	

	</header>
	<!--HEADER-->
	


	<!--MAIN-->
	
	<main>
		
		<div class="content">
		
			<div class="content-block-2">
				<a href="https://drive.google.com/folderview?id=0B5yipLTtgwVZb3BmWHRqdTFEQmM&usp=sharing" target="_blank">
					<div class="block-ico" id="download">
					<img src="{% static 'images/folder.png' %}">	
					</div>
					<div class="block-head">
						<div class="block-name">
						<h3>Вийди за рамки шкільної програми</h3>
						</div>
						<div class="block-date">
						<p>олімпіадні завдання минулих років</p>
						</div>
					</div>
				</a>
			</div>

			<div class="content-block-2">
				<a href="https://drive.google.com/folderview?id=0B5yipLTtgwVZYkpieWFLa3BPeDg&usp=sharing" target="_blank">
					<div class="block-ico" id="link">
					<img src="{% static 'images/link.png' %}">	
					</div>
					<div class="block-head">
						<div class="block-name">
						<h3>Зовнішні ресурси</h3>
						</div>
						<div class="block-date">
						<p>Посилання на джерела з корисною інформацією</p>
						</div>
					</div>
				</a>
			</div>
				
		</div>
	
	</main>
	
	<!--MAIN-->



	<!--FOOTER-->

	<footer>
		
		<div>
			<h4>Про блог</h4><br>
			<p>	Вітаю Вас на сторінках мого віртуального світу!
				<br>Сподіваюся, що представлена інформація буде цікава й корисна не тільки вчителям, а й класним керівникам, молодим педагогам, а також юним математикам.
				<br>Бажаю приємного та корисного проведення часу на сторінках мого блогу!
				<br>Бажаю всім творчих успіхів!
			</p><br>
			<h4>Зворотній зв'язок</h4><br>
			<p>blog.antoshchuk@gmail.com</p>
		</div>
	
		<div class="about-me">
			<h4>Про мене</h4><br>
			<p><img src="{% static 'images/my-foto.png' %}"><b>Антощук Людмила Анатоліївна</b> </p>
								<p><b>Місце роботи</b> -НВК «СЗОШ, ліцей «Успіх»</p>
								<p><b>Посада</b> - Вчитель математики і фізики</p>
								<p><b>Освіта</b> - Житомирський державний університет ім. Івана Франка, 1993р.</p>
								<p><b>Кваліфікаційна категорія</b> - Вища</p>
								<p><b>Звання</b> - Старший вчитель</p>
								<p><b>Педагогічний стаж</b> - 20 років</p>
								<p><b>Моє кредо</b> - Не тільки сама істина дає впевненість, але й пошук її.</p>
								<p><b>Методична проблема</b> - Використання елементів квантового навчання в класах з поглибленим вивченням математики</p>
		</div>
		
	</footer>

	<!--FOOTER-->



	</body>
</html>